<form action="#">
    <div class="form-container">
        <div class="logo">
            <img src="../../assets/images/SGFoodie_LOGO1.png" alt="Logo Website">
        </div>
        <div class="slogan">
            <p>SGFoodie sẽ cho bạn khám phá đến những ẩm thực ngon nhất của thành phố. Hãy bắt đầu nào!</p>
        </div>
        <div class="login-btn">
            <button type="button" id="log-with-gg">
                    <span><img src="../../assets/icon/google.svg" alt=""></span>
                    <span><span>Đăng nhập với Google</span></span>
                </button>
        </div>
        <div class="login-btn">
            <button type="button" id="log-with-fb">
                    <span><img src="../../assets/icon/facebook-icon.svg" alt=""></span>
                    <span><span>Đăng nhập với Facebook</span></span>
                </button>
        </div>
        <hr>
        <div class="input user-name">
            <div>
                <input type="text" name="fname" id="fname" placeholder="Họ">
                <i class="bi bi-person-fill"></i>
            </div>
            <div><input type="text" name="lname" id="lname" placeholder="Tên"></div>
        </div>
        <div class="input">
            <input type="text" name="phone" id="phone" placeholder="+84 xxx xxx xxx">
            <i class="bi bi-telephone-fill"></i>
        </div>
        <div class="input">
            <input type="date" name="dob" id="dob">
            <i class="bi bi-calendar-heart-fill"></i>
        </div>
        <div class="input">
            <input type="text" name="email" id="email" placeholder="Địa chỉ Email">
            <i class="bi bi-envelope-fill"></i>
        </div>
        <div class="input">
            <input type="password" name="pwd" id="pwd" placeholder="Mật khẩu">
            <i class="bi bi-unlock-fill"></i>
        </div>
        <div class="input accept-checkbox" id="accept-checkbox">
            <input type="checkbox" name="accept-rules" id="accept-rules">Tôi đồng ý với Chính sách Bảo mật và Điều khoản & Điều kiện của SGFoodie​​
        </div>
        <div><button type="submit" id="btn">Đăng ký</button></div>
    </div>
</form>