<h4 class="sticky-top text-center title bg-warning">Product List</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4" *ngFor="let r of restaurants">
            <div class="card hover-shadow mb-3">
                <div class="d-flex justify-content-between m-2">
                    <div class="bg-warning d-flex align-items-center justify-content-center shadow-1-strong rounded-2" style="width: 55px; height: 25px;">
                        <p class="text-white mb-0 small">-25%</p>
                    </div>
                    <div class="bg-light rounded-circle d-flex align-items-center justify-content-center shadow-1-strong" style="width: 25px; height: 25px;">
                        <div class=" text-black">
                            <i class="fa fa-heart text-danger"></i>
                        </div>
                    </div>
                </div>
                <div class="card-image ">
                    <img class="card-img-top" src="{{r.image[0]}}" alt="image"></div>
                <div class="card-body">
                    <h6 class="card-title text-truncate">{{r.title}}</h6>
                    <h6 class="card-text text-danger">${{r.price}}</h6>
                    <div class="d-flex justify-content-between text-secondary">
                        <div class="d-flex">
                            <div class="ms-auto text-warning">
                                <i class="fa fa-star text-secondary"></i>
                            </div>
                            <!-- <p class="card-text ms-2">{{p.rating.rate}}</p> -->
                        </div>
                        <!-- <p class="card-text">Count: {{p.rating.count}}</p> -->
                    </div>
                </div>
                <button class="btn btn-warning text-white m-2">Buy Now</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="section">
    <div class="section__container reveal">
        <div class="section__container-row ">
            <div class="row__item " *ngFor="let res of restaurants">
                <div class="row__item-image ">
                    <img src="{{res.image[0]}} " alt="Unable to load image " title="{{res.name}} ">
                </div>
                <div class="row__item-content ">
                    <h3>
                        <a href="restaurantPage.html?restaurantId={{res.id}} " target="_blank ">{{res.name}}</a>
                    </h3>
                    <p>{{res.short_description}}</p>
                    <p ng-if="cat=='Ưu đãi' " class="row__item--color ">{{res.discount}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <a href="# " class="back-to-top ">
    <i class="material-icons ">keyboard_arrow_up</i>
</a> -->

<!-- <ul *ngFor="let cat of categories">
    <li>{{cat}}</li>
</ul> -->