<div id="user-profile-container">
    <div class="heading">
        <h2 id="heading-text">Lịch sử đặt bàn</h2>
    </div>
    <div id="infor-container">
        <div id="upcoming">
            <h5>Bàn sắp tới</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên nhà hàng</th>
                        <th>Địa chỉ</th>
                        <th>Thời gian đặt bàn</th>
                        <th>Người lớn</th>
                        <th>Trẻ em</th>
                    </tr>
                </thead>
                <tbody>
                    <th>1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
        <div id="recent">
            <h5>Bàn đã đặt</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên nhà hàng</th>
                        <th>Địa chỉ</th>
                        <th>Thời gian đặt bàn</th>
                        <th>Người lớn</th>
                        <th>Trẻ em</th>
                    </tr>
                </thead>
                <tbody>
                    <th>1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
</div>